/*********************************************************************************/
/* Result                                                                       */
/*********************************************************************************/
#element_to_pop_up {
	background-color: #fff;
	border-radius: 15px;
	color: #000;
	display: none;
	padding: 20px;
	min-width: 400px;
	min-height: 180px;
	max-width: 525px;
}

#loading_popup {
	background-color: #fff;
	border-radius: 15px;
	color: #000;
	display: none;
	padding: 20px;
	min-width: 400px;
	min-height: 180px;
	max-width: 525px;
}

.b-close {
	cursor: pointer;
	position: absolute;
	right: 10px;
	top: 5px;
}

#element_to_pop_up li {
	display: inline-block;
	vertical-align: top;
}

#element_to_pop_up span {
	display: block;
	width: 75px;
}

#element_to_pop_up select, #element_to_pop_up input {
	padding: 5px;
}